<p>Recently Updated </br>
(last 12 hrs)</p>

<% @recent.each do |bug| %>
	<p> <a class="link" href=<%= "https://demandbase.atlassian.net/browse/#{bug.key}" %>> <%= "#{bug.key}" %> </a> - <%= "#{bug.creator['name']}"%></p>
<% end %>